.block{
    width: 100%;
    height: 500px;
    background-color: red;
}
.block-1{
    width: 100%;
    height: 500px;
    background-color: yellow;
}
@media screen and (max-width: 1200px) {
    .block{
        background-color: green;
    }
    .block-1{
        display: block;
    }
}